.idea/
.vscode/

node_modules/
babystep-ai-code-mother-frontend/node_modules/

target/
tmp/
babystep-ai-code-mother-frontend/dist/
babystep-ai-code-mother-frontend/.vite/
babystep-ai-code-mother-frontend/.cache/

*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

.mvn-local-settings.xml

