.idea/
.vscode/

node_modules/
yu-ai-code-mother-frontend/node_modules/

target/
tmp/
yu-ai-code-mother-frontend/dist/
yu-ai-code-mother-frontend/.vite/
yu-ai-code-mother-frontend/.cache/

*.log
*.tmp
*.swp

.DS_Store
Thumbs.db
